*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html {
  background-color: #F9F6F1;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
}

/* Universal - start */

p{
  font-family: "Nunito Sans", serif;
  line-height: 65px;
  text-align: center;
  color: #333333;
}

h2{
  font-family: "DM Serif Text", serif;
  color: #333333;
  font-size: 2rem;
  text-align: center;
}

hr{
  border: none;
  background-color: #D4A637;
  height: 2px;
  opacity: 1;
  width: 30px;
  position: relative;
  top: -20px;
}

.btn{
  font-family: "Nunito Sans", serif;
  color: #333333;
  border-radius: 25px;
  border-color: #D4A637;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Universal - end */


.navbar-section{
  position: sticky;
  top: 0%;
  z-index: 1000;
  overflow: visible;
  box-shadow: 0px 14px 12px 0px rgba(0,0,0,0.20);
}

.navbar{
  height: 90px;
  width: 100vw;
  background-color: #1A2B40;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar .hamburger-menu{
  display: none;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 2rem
}

nav a{
  text-decoration: none;
  color:#F9F6F1;
}

.navbar img{
  height: 80px;
}

nav a:hover{
  color: #D4A637;
}

.navbar .btn{
  margin-right: 2rem;
  background-color: #F9F6F1;
  border-radius: 0px;
  border: none;
  font-size: 15px;
}

.navbar .btn:active{
  background-color: #d1d1d1;
}

.btn:hover{
  background-color: #D4A637;
}

/*Sidebar - start*/

.hamburger-menu{
  padding-left: 30px;
  cursor: pointer;
}

/*Sidebar - end*/

/*Carousel - start*/

.c-item{
  height: 75vh;
}

.c-image{
  height: 100%;
  object-fit: cover;
  filter:brightness(0.6);
}

/*Carousel - end*/

/*Introduction - start*/

.introduction{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5px;
}

.introduction .welcome-statement{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.introduction hr{
  border: none;
  background-color: #1A2B40;
  height: 2px;
  width: 40px;
  opacity: 1;
  top: .3px;
}

.introduction h1{
  font-size: 2rem;
  font-family: "DM Serif Text", serif;
  color: #1A2B40;
  text-align: center;
}

.introduction .sub-heading{
  font-family:  "DM Serif Text", serif;
  font-size: 1rem;
  font-style: italic;
  color: #333333;
  line-height: normal;
}

/*Introduction - end*/

/*About Us - start*/

.about{
  height: 85vh;
  width: 100%;
  padding: 7rem 0rem;
}



.main-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-content p{
  font-size: clamp(14px, 1vw, 1vw);
}

/*About Us - end*/

/*Private Dining - start*/

.privateDining{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.privateDining img{
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.privateDining-bg{
  background-color: #1A2B40;
  height: 80%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.privateDining-content{
  flex: 1;
  background-color: none;
  border-style: solid;
  border-color: #D4A637;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.privateDining-content p{
  color: #F9F6F1;
  padding: 0 2rem;
}

.privateDining-title{
  transform: translateY(25%);
}

.privateDining-title h2{
  color: #F9F6F1;
}


.privateDining .btn{
  color: #F9F6F1;
  margin-bottom: 1rem;
}

/*Private Dining - end*/

/*Highlights - start*/


.highlights{
  height: 85%;
  width: 100%;
  background: linear-gradient(to top, #1A2B40 0%, #1A2B40 70%, #F9F6F1 70%, #F9F6F1 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-bottom: 8%;

}


.highlights-slider p{
  line-height: normal;
  text-align: left;
  color: #F9F6F1;
  position: relative;
  left: 1rem;
}

.highlights-slider .date{
  color: #D4A637;
}

.highlights .btn{
  width: fit-content;
  color: #F9F6F1;
}  

.highlights-slider img{
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  margin: 0 auto;
  padding: 1rem;
  display: block;
}

.highlights-slider{
  width: 80%;
}

/*Highlights - end*/

/*Footer - start*/

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 0rem 1rem;
}

.footer p{
  line-height: normal;
  text-align: left;
}


.footer .location a{
  display: flex;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
  color: #333333;
}

.footer a{
  color: #333333;
}

.footer img, .fa{
  height: 28px;
  width: auto;
  font-size: 28px;
}

.footer .sns {
  display: flex;
  align-items: center;
  gap: 1rem;
  transform: translateX(-80px);
}

.footer .contact-info{
  display: flex;
  justify-content: center;
}

footer .copyright{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}


/*Footer - end*/

/* ******************  ABOUT PAGE - START  ****************** */

.about-intro{
  height: 70vh;
  padding-top: 5%;
}

.ourTeam{
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}

.ourTeam img{
  width: 45%;
  height: auto;
  object-fit: cover;
}

.inline{
  outline: #D4A637 solid;
  height: 100%;
  width: 100%;
  padding: 5%;
}

.ourTeam-content{
  background-color: #1A2B40;
  width: 45%;
  padding: 1.5%;
  gap: 10%;
}

.ourTeam h2{
  color: #F9F6F1;
}

.ourTeam-content p{
  padding-top: 5%;
  color: #F9F6F1;
}

/* ******************  ABOUT PAGE - END  ****************** */

/* ******************  PRIVATE DINING PAGE - START  ****************** */

.pdPage-cover{
  height: 75vh;
  width: 100vw;
}

.pdPage-cover img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pdPage-intro{
  height: 70vh;
  padding-top: 1%;
}


.availableSpace{
  margin-bottom: 10%;
}

.availableSpace-content{
  display: flex;
  gap: 1.5%;
  margin: 0% 1.5%;
}

.availableSpace-content .itemName p{
  line-height: 5%;
  margin: 7% 0%;
}

.availableSpace-content .itemName .capacity{
  font-size: small;
}

.availableSpace-content .itemName .name{
  font-weight: bold;
  font-size: large;
}

.availableSpace-content img{
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.fullBuyOut{
  height: fit-content;
}

.fullBuyOut-content{
  background-color: #1A2B40;
  height: 100%;
  padding: 1.5%;
}

.fullBuyOut-content .inline{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fullBuyOut h2{
  color: #F9F6F1;
}

.fullBuyOut-content > .inline p{
  color: #F9F6F1;
}

.fullBuyOut-content .btn{
  color: #F9F6F1;
}

/* ******************  PRIVATE DINING PAGE - END  ****************** */

/* ******************  MENU PAGE - START  ****************** */

.menu{
  margin: 5% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .item p{
  font-weight: bold;
}

.menu .slick-prev::before{
  color: #1A2B40;
}

.menu .slick-next::before{
  color: #1A2B40;
}

.menu-slider img{
  width: 85%;
  margin: 0 auto;
  display: block;
}

.wine{
  background-color: #1A2B40;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2%;
  gap: 2%;
}

.wine img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  grid-column: 1/3;
}

.wine-content > p, .wine-title >h2{
  color: #F9F6F1;
}

.wine-content{
  border: #D4A637 solid;
  grid-column: 3/4;
  padding: 7% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wine-content .btn{
  color: #F9F6F1;
  width: fit-content;
}



/* ******************  MENU PAGE - END  ****************** */

/* ******************  HIGHLIGHTS PAGE -START  ****************** */

.highlightsPage-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 2% 10%;
}

.highlightsPage-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 2rem;
}


.highlightsPage-content .item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.highlightsPage-content .item p{
  line-height: normal;
}


/* ******************  HIGHLIGHTS PAGE - END  ****************** */

/* ******************  HIGHLIGHTS/ CHRISTMAS PAGE - START  ****************** */

.christmas2024Event{
  width: 100vw;
  display: grid;
  grid-template-columns: 30vw 30vw;
  gap: 5%;
  justify-content: center;
  align-items: flex-start;
  padding: 5%;
}

.christmasMenu-title-container{
  align-items: flex-start;
}


.christmasMenu-title{
  width: fit-content;
}

/* Fix the positioning of p. There's a better way to position the texts instead of top:-40px */

.christmasMenu-title-container p{
  font-weight: bold;
  font-style: italic;
  text-align: left;
  position: relative;
  top: -40px;
}

.christmas2024Content > p{
  text-align: left;
  position: relative;
  top: -40px;
}

/* ******************  HIGHLIGHTS/ CHRISTMAS PAGE - END  ****************** */

/* ******************  PRIVATE DINING/ APPLICATION FORM - START  ****************** */

.applicationForm label, input::placeholder, select option:disabled, .additionalInformation textarea, .additionalInformation-container textarea::placeholder{
  font-family: "Nunito Sans", serif;
  font-size: 1rem;
}

.applicationForm h2{
  font-size: 1.5rem;
  padding: 2rem 0rem 1rem 0rem;
}

/* .applicationForm .applicantSubHeading{
  position: relative;
  left: -32%;
}

.applicationForm .eventSubHeading{
  position: relative;
  left: -31%
} */

.applicantDetails, .eventDetails{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 0% 15%;
}

.applicationForm .input-form{
  width: 100%;
}
.applicationForm .input-form, .menuType-container label{
  padding-bottom: 15px;
  font-weight: bold
}

.menu-wrapper > label{
  font-weight: bold;
}


.applicationForm .input-form input, select{
  width: 100%;
  height: 50px;
  outline: none;
  padding: 0 15px;
  font-size: 1rem;
}

.applicationForm .additionalInformation{
  width: 70%;
}



.applicationForm .additionalInformation-container{
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.applicationForm .menu-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem auto;
}

.applicationForm .menu-wrapper p{
  text-align: justify;
  line-height: 40px;
}
.additionalInformation{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 100%;
}

.additionalInformation textarea{
  height: 100%;
  outline: none;
}




/* ******************  PRIVATE DINING/ APPLICATION FORM - END  ****************** */


/* ******************  CONTACT PAGE - START  ****************** */

#contact{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  gap: 3rem;
  margin: 0 3rem;
}

#contact i{
  font-size: larger;
}

.contact-content{
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  gap: 1rem;
}

.contact-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  flex-direction: column;
  max-height: fit-content;
}

.contact-content p {
  line-height: normal;
}

.hours > p{
  line-height: 40px;
}

.maps{
  width: 70%;
  max-height: 500px;
}

/* ******************  CONTACT PAGE - END  ****************** */

@media screen and (max-width: 1200px) {

  body{
    overflow-x: hidden;
  }

  .nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0px;
    height: 100vh;
    width: 45%;
    top: 90px;
    background-color: #1A2B40;
    opacity: 1;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    padding-bottom: 8rem;
  }
  .navbar .hamburger-menu {
    display: block;
    position: absolute; 
    left: 10px;
    top: 50%; 
    transform: translateY(-50%); 
  }
  .navbar{
    justify-content: center;
    position: relative;
  }
  .navbar .btn{
    position: absolute; 
    right: 10px;
    top: 10%; 
    transform: translatey(50%); 
  }

  .privateDining-img2{
    display: none;
  }

  .privateDining-img1{
    flex: 1;
  }

  .privateDining-content p{
    font-size: 12px;
    line-height: 50px;
  }

  .about p{
    font-size: 12px;
    line-height: 50px;
  }

  /* HIGHLIGHTS PAGE - START */

  .highlightsPage-content{
    grid-template-columns: repeat(2, 1fr);
  }

  /* HIGHLIGHTS PAGE -END */

}

@media screen and (max-width: 800px) {

  .footer{
    flex-direction: column;
    gap: 1rem;
  }

  .footer .sns{
    transform: translateX(0px);
  }

  .footer .location p{
    text-align: center;
  }

  /* ABOUT PAGE - START */


  .ourTeam{
    flex-direction: column;
    align-items: center;
  }

  .ourTeam img, .ourTeam-content{
    width: 95%;
  }


  /* ABOUT PAGE - END */

  /* PRIVATE DINING PAGE - START */

  .availableSpace-content{
    flex-direction: column;
  }

  .availableSpace-content > .item > p{
    margin: 0% 10% 15%;
  }

  /* PRIVATE DINING PAGE - END */

  /* MENU PAGE - START */

  .menu{
    padding: 0% 5% ;
  }

  .wine{
    display: flex;
    flex-direction: column;
  }

  .wine-content{
    margin-top: 3%;
  }

  /* MENU PAGE - END */

   /* APPLICATION FORM - START */

   .applicantDetails, .eventDetails{
    grid-template-columns: 1fr;

  }

  /* APPLICATION FORM - END */

  /* HIGHLIGHTS / CHRISTMAS 2024 EVENT PAGE - START */

  .christmas2024Event{
    grid-template-columns: 80vw;
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
  }



  /* CONTACT PAGE - START */

  #contact{
    flex-direction: column;
  }

  .maps{
    width: 100%;
    margin-bottom: 2rem;
  }

  /* CONTACT PAGE - END */


}

@media screen and (max-width: 600px) {
  .welcome-statement h1{
    font-size: 1.5rem;
  }

  h2{
    font-size: 1.5rem;
  }

  .nav-links{
    width: 80%;
  }

  .privateDining{
    height: 150vh;
  }
  .privateDining img{
    flex: 1;
    width: 100%;
    height: auto;
  }
  .privateDining-bg{
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
  }

  .ourTeam-content{
    padding: 4%;
  }
  
  .fullBuyOut-content{
    padding: 3%;
  }

  /* HIGHLIGHTS PAGE - START */

  .highlightsPage-content{
    grid-template-columns: repeat(1, 1fr);
  }

  /* HIGHLIGHTS PAGE -END */


}

@media screen and (max-width: 450px) {
  .introduction h1{
    font-size: 1.3rem;
  }

  p, .btn{
    font-size: small;
    line-height: 45px;
  }

  .btn{
    line-height: normal;
  }

  .introduction p{
    font-size: .7rem;
  }

  .about-section{
    height: 90vh;
  }

  .privateDining-section{
    height: 175vh;
  }

  .highlights-section{
    height: auto;
  }

  .navbar .btn{
    margin-right: .5rem;
    font-size: 11px;
  }
  .hamburger-menu{
    font-size: medium;
  }

  /* ABOUT PAGE - START */

  .about-intro{
    height: 80vh;
  }

  
  

  /* ABOUT PAGE - END */

  /* PRIVATE DINING PAGE - START */

  .pdPage-intro{
    height: fit-content;
    margin-bottom: 5%;
  }


  /* PRIVATE DINING PAGE - END*/

}

.nav-active{
  transform: translateX(0%);
}